In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()
from matplotlib import pyplot as plt
# Input
data_file = "/home/gfajardo/Desktop/lbht_190502.s4"

# Delimiter
data_file_delimiter ='\s+'


# The max column count a line in the file could have
largest_column_count = 0

# Loop the data lines
with open(data_file, 'r') as temp_f:
    # Read the lines
    lines = temp_f.readlines()

    for l in lines:
        # Count the column count for the current line
        column_count = len(l.split())+ 1

        # Set the new most column count
        largest_column_count = column_count if largest_column_count < column_count else largest_column_count

# Close file
temp_f.close()

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = [i for i in range(0, largest_column_count)]


#Creating a new dataframe
df_marks = pd.DataFrame(columns=['Año','Tiempo','Satélite','S4','Az'])


# Read csv
df = pd.read_csv(data_file, header=None, delim_whitespace=True, names=column_names)
# print(df)

row=df.shape[0]
column=df.shape[1]
print(row)
print(column)


Satélite=0
S4=0

for y in range(0, df.shape[0]):
    Año=df[0][y]
    Tiempo=df[1][y]*24*3600+df[2][y]
    Nsats=df[3][y]
    #print("#Satélite:",Nsats)
    for x in range(0,df.shape[1]):
        if (x-4)%4==0 and ((Nsats+1)*4)> x > 3:
            #print("x:",x)
            #print("Satélite:",df[x][y])
            Satélite=df[x][y]
            
        if (x-5) % 4==0 and ((Nsats+1)*4)>x>4:
            #print("S4:",df[x][y])
            S4=df[x][y]
            
        if (x-6) % 4==0 and ((Nsats+1)*4)>x>5:
            #print("Az:",df[x][y])
            Az=df[x][y]
            new_row = { 'Año':Año,'Tiempo':Tiempo,'Satélite':Satélite, 'S4':S4,'Az':Az}
            #append row to the dataframe
            df_marks = df_marks.append(new_row, ignore_index=True)
        
print(df_marks)

1434
53
        Año      Tiempo  Satélite    S4     Az
0      19.0  10540810.0       5.0  0.07  270.9
1      19.0  10540810.0       7.0  0.05  112.9
2      19.0  10540810.0       9.0  0.08   40.3
3      19.0  10540810.0      11.0  0.12  102.4
4      19.0  10540810.0      13.0  0.11  215.4
5      19.0  10540810.0      17.0  0.04   10.7
6      19.0  10540810.0      19.0  0.08  356.6
7      19.0  10540810.0      28.0  0.04  213.4
8      19.0  10540810.0      30.0  0.05  153.2
9      19.0  10540810.0     138.0  0.10  279.6
10     19.0  10540870.0       5.0  0.09  271.5
11     19.0  10540870.0       7.0  0.09  112.4
12     19.0  10540870.0       9.0  0.05   40.0
13     19.0  10540870.0      11.0  0.10  102.8
14     19.0  10540870.0      13.0  0.10  215.3
15     19.0  10540870.0      17.0  0.04   10.9
16     19.0  10540870.0      19.0  0.09  356.7
17     19.0  10540870.0      28.0  0.04  212.2
18     19.0  10540870.0      30.0  0.05  152.6
19     19.0  10540870.0     138.0  0.10  279.6
20     19.0  10540930.0       5.0  0.06  272.0
21     19.0  10540930.0       7.0  0.10  111.9
22     19.0  10540930.0       9.0  0.05   39.7
23     19.0  10540930.0      11.0  0.11  103.3
24     19.0  10540930.0      13.0  0.09  215.3
25     19.0  10540930.0      17.0  0.03   11.1
26     19.0  10540930.0      19.0  0.07  356.8
27     19.0  10540930.0      28.0  0.04  211.1
28     19.0  10540930.0      30.0  0.05  152.0
29     19.0  10540930.0     138.0  0.11  279.6
...     ...         ...       ...   ...    ...
13841  19.0  10626670.0       5.0  0.08  268.4
13842  19.0  10626670.0       7.0  0.10  115.2
13843  19.0  10626670.0       9.0  0.06   41.8
13844  19.0  10626670.0      11.0  0.09  100.2
13845  19.0  10626670.0      13.0  0.10  215.6
13846  19.0  10626670.0      17.0  0.05    9.7
13847  19.0  10626670.0      19.0  0.09  355.9
13848  19.0  10626670.0      28.0  0.04  219.5
13849  19.0  10626670.0      30.0  0.04  156.3
13850  19.0  10626670.0     138.0  0.10  279.6
13851  19.0  10626730.0       5.0  0.07  268.9
13852  19.0  10626730.0       7.0  0.08  114.8
13853  19.0  10626730.0       9.0  0.05   41.5
13854  19.0  10626730.0      11.0  0.11  100.7
13855  19.0  10626730.0      13.0  0.09  215.6
13856  19.0  10626730.0      17.0  0.07    9.9
13857  19.0  10626730.0      19.0  0.09  356.1
13858  19.0  10626730.0      28.0  0.04  218.2
13859  19.0  10626730.0      30.0  0.05  155.7
13860  19.0  10626730.0     138.0  0.10  279.6
13861  19.0  10626790.0       5.0  0.10  269.4
13862  19.0  10626790.0       7.0  0.07  114.3
13863  19.0  10626790.0       9.0  0.06   41.2
13864  19.0  10626790.0      11.0  0.10  101.1
13865  19.0  10626790.0      13.0  0.08  215.5
13866  19.0  10626790.0      17.0  0.05   10.1
13867  19.0  10626790.0      19.0  0.12  356.2
13868  19.0  10626790.0      28.0  0.04  217.0
13869  19.0  10626790.0      30.0  0.05  155.0
13870  19.0  10626790.0     138.0  0.10  279.6

[13871 rows x 5 columns]